body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.dog{
	background: url('https://www.miifotos.com/thumbs/J_Q7W4xyXlZtxGzyelpaaf1M0ta1W6KmZrWAAK9S3OH0S6Mj8z-Xj1NhuXPQvp7MI5KkWOTtJlVRoQh7t-LbWQ.jpg');
	height: 100vh;
	width:100%;
}